<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>

</head>
<body>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<!--<script src="js/init.js"></script>-->

<script src="/Scripts/topVideoScript.js"></script>

<header>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="index"><i class="material-icons left">home</i>Home</a></li>
                <li class="active"><a href="topVideos"><i class="material-icons left">star</i>Top Videos</a></li>
                <li><a href="uploadSite"><i class="material-icons left">file_upload</i>Upload</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <div sec:authorize="isAuthenticated()">
                        <a href="#" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()">
                        <a href="login"><i class="material-icons left">person</i>Login</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()">
                        <a href="register"><i class="material-icons left">person_add</i>Register</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Logout
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="index"><i class="material-icons left">home</i>Home</a></li>
                <li class="active"><a href="topVideos"><i class="material-icons left">star</i>Top Videos</a></li>
                <li><a href="uploadSite"><i class="material-icons left">file_upload</i>Upload</a></li>
                <div sec:authorize="isAuthenticated()" class="center">
                    <li><a href="#" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a></li>
                </div>
                <div sec:authorize="isAuthenticated()" class="center">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Logout
                            </button>
                        </form>
                    <li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li>
                        <a href="login"><i class="material-icons left">person</i>Login</a>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li>
                        <a href="register"><i class="material-icons left">person_add</i>Register</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Top Videos</h1>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="col s12 m4">
                <div class="icon-block">
                    <div id="videoContainer">
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>
</main>


<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
</body>
</html>
