<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Upload</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script>
        $(document).ready(function () {
            var getUrl = window.location.host;

            var uploadForm = document.getElementById("uploadForm");
            uploadForm.setAttribute("action", "https://" + getUrl + "/upload");

            var uploadURLForm = document.getElementById("uploadURLForm");
            uploadURLForm.setAttribute("action", "https://" + getUrl + "/uploadURL");
        });

        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>

</head>
<body>
<header>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li class="active"><a href="index" th:utext="#{lang.nav.home}"></a></li>
                <li><a href="topVideos" th:utext="#{lang.nav.top}"></a></li>
                <li><a href="uploadSite" th:utext="#{lang.nav.upload}"></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <div sec:authorize="isAuthenticated()">
                        <a href="#" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()">
                        <a href="login" th:utext="#{lang.nav.login}"></a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAnonymous()">
                        <a href="register" th:utext="#{lang.nav.register}"></a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn waves-effect waves-light" type="submit" name="action" th:utext="#{lang.nav.logout}"></button>
                        </form>
                    </div>
                </li>

                <li>
                    <a th:href="@{/uploadSite?lang=en}">Eng</a>
                </li>
                <li>
                    <a th:href="@{/uploadSite?lang=ger}">Ger</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="active"><a href="index" th:utext="#{lang.nav.home}"></a></li>
                <li><a href="topVideos" th:utext="#{lang.nav.top}"></a></li>
                <li><a href="uploadSite" th:utext="#{lang.nav.upload}"></a></li>
                <div sec:authorize="isAuthenticated()" class="center">
                    <li><a href="#" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a></li>
                </div>
                <div sec:authorize="isAuthenticated()" class="center">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn waves-effect waves-light" type="submit" name="action" th:utext="#{lang.nav.logout}"></button>
                        </form>
                    <li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li>
                        <a href="login" th:utext="#{lang.nav.login}"></a>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li>
                        <a href="register" th:utext="#{lang.nav.register}"></a>
                    </li>
                </div>
                <li>
                    <a th:href="@{/uploadSite?lang=en}">Eng</a>
                </li>
                <li>
                    <a th:href="@{/uploadSite?lang=ger}">Ger</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text" th:utext="#{lang.upload.titel}"></h1>
            <div class="row center">
                <h5 class="header col s12 light" th:utext="#{lang.upload.text}"></h5>
            </div>
            <br><br>
            <form id="uploadForm" method="POST" enctype="multipart/form-data">
                <div class="file-field input-field">
                    <div class="btn">
                        <span th:utext="#{lang.upload.fileButton}">File</span>
                        <input type="file" name="file" required/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" value="Select a File"/>
                    </div>
                </div>
                <button class="btn waves-effect waves-light right" type="submit" name="action" th:utext="#{lang.upload.sendButton}"></button>
                <!--<progress id="progressBar" value="0" max="100" style="width:300px;"></progress>-->
                <!--<h3 id="status"></h3>-->
                <!--<p id="loaded_n_total"></p>-->
            </form>
            <br><br>
            <form method="POST" enctype="multipart/form-data" id="uploadURLForm">
                <div class="file-field input-field">
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="url" placeholder="Enter a URL" name="URL" required/>
                    </div>
                </div>
                <button class="btn waves-effect waves-light right" type="submit" name="action" th:utext="#{lang.upload.sendButton}"></button>
                </button>
            </form>

        </div>
    </div>

</main>
<footer class="page-footer light-blue">
    <div class="container">
        <div class="row">
            <div class="s12">
                <h5 class="white-text">VidShare</h5>
                <p class="grey-text text-lighten-4" th:utext="#{lang.footer}"></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2018 Patric Burgherr
        </div>
    </div>
</footer>
</body>
</html>
